@keyframes animateMain
  from
    opacity: 0
  to
    opacity: 1
  
@font-face
  font-family: MarckScript
  font-weight: 400
  src: url('./fonts/MarckScript-Regular.ttf')
@font-face 
  font-family: RussoOne
  font-weight: 400
  src: url('./fonts/RussoOne-Regular.ttf')
@font-face 
  font-family: Roboto
  font-weight: 400
  src: url('./fonts/Roboto-Regular.ttf')

$l_blue: #3498DB
$white: #fff
$d_gray: #5D6D7E
$black: #000
$blue: #363FC3
$yellow: #E0E714