#app-main
  animation: 3s linear animateMain
  min-height: 53vh
  width: 98vw
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  .main-headers
    font-family: RussoOne
    font-size: 4vh
    margin: 3vh 0
    padding: 1vh
    color: $white
    text-decoration: underline
    background-color: $l_blue
  p
    font-family: Roboto
    font-size: 3vh
    margin: 2vh
    display: block
    width: 100%
    