@import './constants'
@import './reset'
@import './startLoader'
@import './header'

@font-face
  font-family: MarckScript
  font-weight: 400
  src: url('./fonts/MarckScript-Regular.ttf')
@font-face 
  font-family: RussoOne
  font-weight: 400
  src: url('./fonts/RussoOne-Regular.ttf')

$l_blue: #3498DB
$white: #fff

#app
  width: 98vw
  height: 98vh
  margin: 1vh auto
  display: flex
  flex-direction: column
  align-items: center
  justify-content: start
  background-image: url('img/app-back.png')
  background-size: 100% 153px
  background-repeat: repeat-y
  